<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/cards/credit" color="light">
          <ion-icon name="chevron-back" size="medium"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>add-credit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-credit</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
