<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button href="/home" color="primary">
          <ion-icon name="chevron-back" size="medium"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Multi Expense</ion-title>
  </ion-toolbar>
   <!-- Toolbar with Searchbar and Select in a single row -->
   <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10" size-md="4">
        <ion-searchbar
          labelPlacement="floating"
          [(ngModel)]="searchTerm"
          placeholder="Search"
          (ionInput)="applyFilters()"
          debounce="500"
          class="transparent-searchbar"
        ></ion-searchbar>
      </ion-col>

      <ion-col size="2" size-md="3">
        <ion-select
          [(ngModel)]="selectedMonth"
          (ionChange)="applyFilters()"
          placeholder="Filter by Month"
        >
          <ion-select-option value="all">All</ion-select-option>
          <ion-select-option value="January">January</ion-select-option>
          <ion-select-option value="February">February</ion-select-option>
          <ion-select-option value="March">March</ion-select-option>
          <ion-select-option value="April">April</ion-select-option>
          <ion-select-option value="May">May</ion-select-option>
          <ion-select-option value="June">June</ion-select-option>
          <ion-select-option value="July">July</ion-select-option>
          <ion-select-option value="August">August</ion-select-option>
          <ion-select-option value="September">September</ion-select-option>
          <ion-select-option value="October">October</ion-select-option>
          <ion-select-option value="November">November</ion-select-option>
          <ion-select-option value="December">December</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="filteredExpenses.length; else noData">
    <ion-card-content *ngFor="let expense of filteredExpenses">
      <ion-card-title>{{ expense.description }}</ion-card-title>
      <p>Amount: {{ expense.amount }}₹</p>
      <p>Description: {{ expense.description }}</p>
      <p>Date: {{ expense.date | date:'medium' }}</p>
      <p>Paid By: {{ expense.paidBy }}</p>
      <ion-button color="primary" (click)="editAutoExpense(expense._id)">
        Edit
      </ion-button>
      <ion-button color="danger" (click)="deleteAutoExpense(expense._id)">
        Delete
      </ion-button>
    </ion-card-content>
  </ion-card>
<ng-template #noData>
  <ion-label >No expenses found.</ion-label>
</ng-template>
</ion-content>
<ion-footer>
  <ion-button size="default" color="primary" (click)="navigateToMultiExpense()">Add Multiple Expense</ion-button>
</ion-footer>