<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner
    *ngIf="isLoading"
    name="crescent"
    class="spinner-center">
  </ion-spinner>

  <div *ngIf="!isLoading && user">

    <!-- PROFILE IMAGE -->
    <div class="avatar-container">
      <img
        [src]="previewImage
          ? previewImage
          : (user.profile_image
              ? apiBase + '/storage/' + user.profile_image
              : 'assets/profile.png')"
        (error)="onImageError($event)"
        alt="Profile"
      />

      <div class="edit-badge" (click)="fileInput.click()">
        <ion-icon name="camera"></ion-icon>
      </div>

      <input
        type="file"
        accept="image/*"
        hidden
        #fileInput
        (change)="onFileSelected($event)"
      />
    </div>

    <!-- FORM -->
    <ion-item>
      <ion-input
        label="Email"
        label-placement="floating"
        [value]="user.email"
        readonly>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="First Name"
        label-placement="floating"
        [(ngModel)]="user.first_name">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Last Name"
        label-placement="floating"
        [(ngModel)]="user.last_name">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Phone"
        label-placement="floating"
        [(ngModel)]="user.phone">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="date"
        label="Date of Birth"
        label-placement="floating"
        [(ngModel)]="user.dob">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-select
        label="Gender"
        label-placement="floating"
        [(ngModel)]="user.gender">
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" (click)="updateProfile()">
      Save Changes
    </ion-button>

  </div>

  <div *ngIf="!isLoading && !user" class="ion-text-center">
    No user data found
  </div>

</ion-content>
