<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/home" color="light">
        <ion-icon name="chevron-back" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSumbit)="saveExpense()">
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime [(ngModel)]="expense.date" name="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="expense.category" name="category">
        <ion-select-option value="Utilities">Utilities</ion-select-option>
        <ion-select-option value="Groceries">Groceries</ion-select-option>
        <ion-select-option value="Entertainment">Entertainment</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Transaction Type</ion-label>
      <ion-select [(ngModel)]="expense.transactionType" name="transactionType">
        <ion-select-option value="Cash">Cash</ion-select-option>
        <ion-select-option value="Credit Card">Credit Card</ion-select-option>
        <ion-select-option value="UPI">UPI</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" [(ngModel)]="expense.amount" name="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="expense.description" name="description"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Save Expense</ion-button>    
  </form>


</ion-content>
