<ion-header>
  <ion-toolbar>
    <ion-title>Add Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="expense.date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-input [(ngModel)]="expense.category"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Transaction Type</ion-label>
      <ion-input [(ngModel)]="expense.transactionType"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input [(ngModel)]="expense.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Amount</ion-label>
      <ion-input type="number" [(ngModel)]="expense.amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Notes</ion-label>
      <ion-textarea [(ngModel)]="expense.notes"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="addExpense()">Save Expense</ion-button>
</ion-content>
