<ion-header>
  <ion-toolbar>
    <ion-title>View Expenses</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-expense">Add Expense</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let expense of expenses">
      <ion-label>
        <h2>{{ expense.category }} - {{ expense.amount | currency }}</h2>
        <p>{{ expense.date }} | {{ expense.transactionType }}</p>
        <p>{{ expense.description }}</p>
        <p>{{ expense.notes }}</p>
      </ion-label>
      <ion-button fill="outline" (click)="editExpense(expense)">Edit</ion-button>
      <ion-button color="danger" (click)="deleteExpense(expense.id)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
