<ion-header>
  <ion-toolbar>
    <ion-title>View Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>Date</ion-col>
      <ion-col>Category</ion-col>
      <ion-col>Transaction Type</ion-col>
      <ion-col>Description</ion-col>
      <ion-col>Amount</ion-col>
      <ion-col>Notes</ion-col>
    </ion-row>

    <ion-row *ngFor="let expense of expenses">
      <ion-col>{{ expense.date }}</ion-col>
      <ion-col>{{ expense.category }}</ion-col>
      <ion-col>{{ expense.transactionType }}</ion-col>
      <ion-col>{{ expense.description }}</ion-col>
      <ion-col>{{ expense.amount }}</ion-col>
      <ion-col>{{ expense.notes }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
