<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/cards" color="light">
        <ion-icon name="chevron-back" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Debit Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" routerLink="/cards/debit/add">Add Debit Card</ion-button>

  <ion-list *ngIf="debitCards.length > 0">
    <ion-item *ngFor="let card of debitCards">
      <ion-label>
        <h2>{{ card.cardHolderName }}</h2>
        <p>Card Number: **** **** **** {{ card.cardNumber.slice(-4) }}</p>
        <p>Expiry: {{ card.expiryDate }}</p>
        <p>Debit Limit: {{ card.debitLimit || 'Not Set' }}</p>
      </ion-label>
      <ion-button *ngIf="card._id" fill="clear" (click)="editCard(card._id!)">
        Edit
      </ion-button>
      
      <ion-button *ngIf="card._id" fill="clear" color="danger" (click)="deleteCard(card._id!)">
        Delete
      </ion-button>      
    </ion-item>
  </ion-list>

  <ion-card *ngIf="debitCards.length === 0">
    <ion-card-header>
      <ion-card-title>No debit Cards Found</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      You haven't added any debit cards yet. Click "Add debit Card" to add one.
    </ion-card-content>
  </ion-card>
</ion-content>
