<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/cards/credit" color="light">
          <ion-icon name="chevron-back" size="medium"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Add Debit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form  [formGroup]="adddebitForm"  (ngSubmit)="addCard()">
    <ion-item>
      <ion-label position="stacked">Card Number</ion-label>
      <ion-input type="number" formControlName="cardNumber" name="cardNumber" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cardholder Name</ion-label>
      <ion-input formControlName="cardHolderName" name="cardHolderName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Expiry Date (MM/YY)</ion-label>
      <ion-input  formControlName="expiryDate" name="expiryDate" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Debit Limit</ion-label>
      <ion-input type="number" formControlName="debitLimit" name="debitLimit"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Add Card</ion-button>
  </form>
</ion-content>
