<ion-header>
  <ion-toolbar>
    <ion-title align="center">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
      <ion-item>
        <ion-input labelPlacement="stacked" label="First Name" placeholder="Enter your first name" type="text" [(ngModel)]="user.firstName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="stacked" label="Last Name" placeholder="Enter your last name" type="text" [(ngModel)]="user.lastName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="stacked" label="Email" placeholder="Enter your email" type="email" [(ngModel)]="user.email" required></ion-input>
      </ion-item>

      <ion-item>
         <ion-input labelPlacement="stacked" label="Phone Number" placeholder="Enter your phone number"  type="tel" [(ngModel)]="user.phoneNumber" required></ion-input>
      </ion-item>

      <ion-item>
         <ion-input
          type="text"
          [value]="user.dob"
          readonly
          (click)="openDatePicker()"
          placeholder="Select Date of Birth"
        ></ion-input>
      </ion-item>
    
      <!-- Date Picker -->
      <ion-datetime
        *ngIf="isDatePickerOpen"
        presentation="date"
        (ionChange)="onDateChange($event)"
        [showDefaultButtons]="true"
      ></ion-datetime>

      <ion-item>
        <ion-select label="Gender" [(ngModel)]="user.gender">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Password" type="password" [(ngModel)]="user.password" required></ion-input>
      </ion-item>
    </ion-list>
      <ion-button expand="block" (click)="register()">Register</ion-button>
</ion-content>
