<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/cards" color="light">
        <ion-icon name="chevron-back" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Credit Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" routerLink="/cards/credit/add">Add Credit Card</ion-button>

  <ion-list *ngIf="creditCards.length > 0">
    <ion-item *ngFor="let card of creditCards">
      <ion-label>
        <h2>{{ card.cardHolderName }}</h2>
        <p>Card Number: **** **** **** {{ card.cardNumber.slice(-4) }}</p>
        <p>Expiry: {{ card.expiryDate }}</p>
        <p>Credit Limit: {{ card.creditLimit || 'Not Set' }}</p>
      </ion-label>
      <ion-button *ngIf="card._id" fill="clear" (click)="editCard(card._id!)">
        Edit
      </ion-button>
      
      <ion-button *ngIf="card._id" fill="clear" color="danger" (click)="deleteCard(card._id!)">
        Delete
      </ion-button>      
    </ion-item>
  </ion-list>

  <ion-card *ngIf="creditCards.length === 0">
    <ion-card-header>
      <ion-card-title>No Credit Cards Found</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      You haven't added any credit cards yet. Click "Add Credit Card" to add one.
    </ion-card-content>
  </ion-card>
</ion-content>
