.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .app-logo {
    width: 100px; /* Adjust size as needed */
    height: auto;
  }
  