<ion-content class="login-content">
  <div class="login-container">
    <h2>Login</h2>

    <form [formGroup]="logForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="Stacked label">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="Stacked label">Password</ion-label>
        <ion-input [type]="passwordType" formControlName="password" required></ion-input>
        <ion-icon 
          [name]="passwordType === 'password' ? 'eye-off-outline' : 'eye-outline'" 
          slot="end" 
          (click)="togglePasswordVisibility()">
        </ion-icon>
      </ion-item>

      <div class="login-options">
        <ion-checkbox formControlName="rememberMe"></ion-checkbox>
        <ion-label>Remember Me</ion-label>
        <a href="/forgot-password">Forgot Password?</a>
      </div>

      <ion-button expand="block" type="submit" [disabled]="logForm.invalid">
        Sign in
      </ion-button>
    </form>

    <div class="social-login">
      <ion-button expand="block" color="primary" (click)="loginWithFacebook()">
        Login with Facebook
      </ion-button>
      <ion-button expand="block" color="danger" (click)="loginWithGoogle()">
        Login with Google
      </ion-button>
    </div>
    <p class="register-link">
      New here? <a [routerLink]="['/register']">Register</a>
    </p>

    <div class="biometric-login">
      <ion-button fill="clear" (click)="loginWithBiometric()">
        <ion-icon name="finger-print" size="large"></ion-icon>
      </ion-button>
      <p>Login with Biometric</p>
    </div>

  </div>
</ion-content>
