<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title>Expense Tracker</ion-title>
    <!-- <ion-button slot="end" fill="clear" (click)="signOut()">Sign Out</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-section">
    <h2>Welcome, Jay</h2>
    <p>Track and manage your expenses effortlessly.</p>
  </div>

  <!-- Expense Overview Cards -->
  <ion-list>
    <ion-item>
      <ion-label>Transactions Summary</ion-label>
      <ion-badge color="primary">
        <ion-icon name="stats-chart"></ion-icon>
      </ion-badge>
    </ion-item>
    <ion-item>
      <p>💸 Total Debits: ₹{{ debitTotal }} of {{currentMonth}}</p>
      <p>💰 Total Credits: ₹{{ creditTotal }} of {{currentMonth}}</p> 
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item>
      <ion-label>Your Total Current Balance</ion-label>
      <ion-badge color="primary">
        <ion-icon name="wallet"></ion-icon>
      </ion-badge>
    </ion-item>
    <ion-item *ngFor="let bal of userBalance">
      <h2>₹{{ bal.balance }}</h2> 
    </ion-item>
    <ion-item>
      <ion-buttons>
        <ion-button color="primary" (click)="addBalance()">
          Add Balance
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item>
      <ion-label>Your expense for {{currentMonth}}</ion-label>
      <ion-badge color="primary">
        <ion-icon name="calendar"></ion-icon>
      </ion-badge>
    </ion-item>
    <ion-item>
      <p>Grand Total: ₹{{ grandTotalExpense }}</p>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="navigateToViewExpenses()">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="navigateToMultiView()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="navigateToSplitView()">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="navigateToCameraView()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>  
    </ion-fab-list>
  </ion-fab>
</ion-content>