<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Profile</ion-label>
      <ion-button expand="full" (click)="updateProfile()">Update</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-toggle slot="end" [(ngModel)]="notificationsEnabled"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle (ionChange)="toggleDarkMode($event)"></ion-toggle>
    </ion-item>
        
    <ion-item>
      <ion-label>Account Management</ion-label>
      <ion-button expand="full" (click)="manageAccount()">Manage</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Privacy Policy</ion-label>
      <ion-button expand="full" (click)="viewPrivacyPolicy()">View</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Terms of Service</ion-label>
      <ion-button expand="full" (click)="viewTerms()">View</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
