ion-content {
  --background: #f1f5f9;
}

.loader-center {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.page {
  padding: 16px;
}

