<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/single-view-expenses']" color="light">
        <ion-icon name="chevron-back" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ expenseId ? 'Edit Expense' : 'Add Expense' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="expenseForm" (ngSubmit)="saveExpense()">

    <!-- Date Picker -->
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime"
          presentation="date-time"
          formControlName="date">
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <!-- Category Selection -->
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select formControlName="category">
        <ion-select-option labelPlacement="stacked" *ngFor="let category of expenseCategories" [value]="category">{{ category }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Transaction Type Selection -->
    <ion-item>
      <ion-label>Transaction Type</ion-label>
      <ion-select formControlName="transaction_type">
        <ion-select-option labelPlacement="stacked" *ngFor="let type of transactionTypes" [value]="type">{{ type }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Amount Input -->
    <ion-item>
      <ion-label >Amount</ion-label>
      <ion-input labelPlacement="stacked" type="number" formControlName="amount"></ion-input>
    </ion-item>

    <!-- Description Input -->
    <ion-item>
      <ion-label >Description</ion-label>
      <ion-input labelPlacement="stacked" formControlName="description"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="expenseForm.invalid">{{ expenseId ? 'Update Expense' : 'Save Expense' }}</ion-button>
  </form>
</ion-content>
