<ion-header class="clean-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/multi-view-expense">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ isEditMode ? 'Edit Multi Expense' : 'New Multi Expense' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-bg-content">

  <ion-spinner *ngIf="pageLoading" class="loader-center"></ion-spinner>

  <form *ngIf="!pageLoading" [formGroup]="multiForm" (ngSubmit)="submitForm()" class="form-card">

    <!-- TITLE -->
    <div class="input-group">
      <ion-label>Title *</ion-label>
      <ion-input formControlName="title" placeholder="Trip, Party, Shopping"></ion-input>
      <p class="error" *ngIf="showError('title')">Enter valid title</p>
    </div>

    <!-- CATEGORY -->
    <div class="input-group">
      <ion-label>Category *</ion-label>
      <ion-select formControlName="category" placeholder="Select category">
        <ion-select-option *ngFor="let c of categories" [value]="c.name">
          {{ c.name }}
        </ion-select-option>
      </ion-select>
      <p class="error" *ngIf="showError('category')">Select category</p>
    </div>

    <!-- MESSAGE -->
    <div class="input-group">
      <ion-label>Details *</ion-label>
      <ion-textarea
        formControlName="message"
        rows="6"
        placeholder="₹200 Grocery, ₹500 Travel, ₹100 Snacks">
      </ion-textarea>
      <p class="error" *ngIf="showError('message')">Enter details</p>
    </div>

    <!-- TOTAL PREVIEW -->
    <div class="preview-box" *ngIf="totalPreview > 0">
      Total: ₹{{ totalPreview }}
    </div>

    <!-- BUTTON -->
    <ion-button expand="block" type="submit" [disabled]="isProcessing">
      <ion-spinner *ngIf="isProcessing"></ion-spinner>
      <span *ngIf="!isProcessing">
        {{ isEditMode ? 'Update' : 'Save' }}
      </span>
    </ion-button>

  </form>

</ion-content>