<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/multi-view-expense" color="light">
        <ion-icon name="chevron-back" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ expenseId ? 'Edit' : 'Add' }} Multi Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="multiForm" (ngSubmit)="submitMessage()">
    <ion-item>
      <ion-label position="floating">Enter your expense message</ion-label>
      <ion-textarea formControlName="message"></ion-textarea>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="isProcessing">
      {{ expenseId ? 'Update' : 'Submit' }}
    </ion-button>
  </form>
</ion-content>
