<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/home" color="light">
          <ion-icon name="chevron-back" size="medium"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Single Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="manualExpenses.length; else noData">
    <ion-item *ngFor="let expense of manualExpenses">
      <ion-label>
        <h2>{{ expense.description }}</h2>
        <p>
          Amount: ₹{{ expense.amount }} | 
          Date: {{ expense.date | date: 'medium' }} | 
          Category: {{ expense.category }}
        </p>
      </ion-label>
      <ion-button slot="end" color="primary" (click)="editExpense(expense._id)">Edit</ion-button>
      <ion-button slot="end" color="danger" (click)="deleteExpense(expense._id,expense._rev)">Delete</ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <ion-label>No expenses found.</ion-label>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-button size="default" color="secondary" (click)="navigateToAddExpense()">Add Single Expenses</ion-button> 
</ion-footer>