.no-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: var(--ion-color-medium);
  }
  
  .no-data-container ion-icon {
    margin-bottom: 10px;
  }
  
  .no-data-container p {
    font-size: 1.2rem;
    margin: 0;
  }
  .transparent-searchbar {
    --background: transparent;
    --border-color: transparent;
    --box-shadow: none;
  
    .searchbar-input {
      background-color: transparent;
      color: #000;  /* Change text color if needed */
    }
  
    .searchbar-input::placeholder {
      color: #000;  /* Adjust placeholder text color if needed */
    }
  }
  