<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/home" color="light">
          <ion-icon name="chevron-back" size="medium"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <ng-template #noData>
    <ion-label>No Card Founds.</ion-label>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-button size="default" color="secondary" (click)="navigateToAddCreditCard()">Add Credit</ion-button> 
  <ion-button size="default" color="secondary" (click)="navigateToViewCredit()">View Credit</ion-button>
  <ion-button size="default" color="secondary" (click)="navigateToAddDebitCard()">Add Debit</ion-button> 
  <ion-button size="default" color="secondary" (click)="navigateToViewDebit()">View Debit</ion-button>
</ion-footer>